res/UserConfiguation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ssengine.org/schema/user/1/"
  xmlns="http://ssengine.org/schema/user/1/"
  elementFormDefault="qualified">

  <!-- Schema for project config -->
  <xs:element name="UserConfiguation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Emulator" type="xs:string" minOccurs="1"/>
        <xs:element name="Renderer" type="xs:integer" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
